#title1 {
	font-family: 'Pompiere', cursive;
	}

#title2 {
	font-family: 'Marvel', sans-serif;
}

#title {
	font-family: 'Staatliches', cursive;
}

#padding1 {
	padding-top: 10px;
}

#padding {
	padding-top: 40px;
}

#beforefooter {
	padding-top: 40px;
}